body {
    font-family: "Arial, Helvetica, sans-serif";
    color: #ebebeb;
    background: #777;
    max-width: 960px;
    font-size: 18px;
    margin: auto;
}
header,nav,footer{
background: #ebebeb;
text-align: center;
color: #777;
clear: both;
padding: 25px 25px;
}

.header {
    padding: 10px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777;
}

.nav {
    padding: 25px 0px;
    margin-top: 10px;
    margin-bottom:10px;
    width: 100%;
    text-align: center;
    background: #ebebeb;
    color: #777;
}

.left_section {
    float: left;
    width :48%;
    margin-bottom: 20px; 
    text-align: center;
    /* height: 250px; */
    background:#ebebeb;   
    color: #777;

}

/* div {
    float: left;
    width: 50%;
    height: 100%;
    margin-right: 20px;
    background: #ebebeb;
} */

.aside {
   float: right;
   margin-top: 0px;
   text-align: center;
   background: #ebebeb;
   color: #777;
   width: 48%;
   height: 250px;
}

/* article{
    color: #ebebeb;
    background-color: #777;
    padding: 5px 0px 15px 0px;
    margin: 0.5px;
    border: 10px #777777;
} */

.article_1{
    color: #ebebeb;
    background: #777;
    padding: 0 5px;
    margin: 15px 7px;
    border: 10px solid #777777;
}

h1, p.art2{
    color: #777;
    background-color: #ebebeb;
    padding: 10px 5px;
    margin: 5px 20px;
    border: 0px solid #777777;
}

.footer{
    clear: both;
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#ebebeb;

}







/* .wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  } */
  